@font-face {
	font-family: 'QuiteChocolatey';
	src: url('../fonts/QuiteChocolatey.eot');
	src: local('☺'), 
        url('../fonts/QuiteChocolatey.woff') format('woff'), 
        url('../fonts/QuiteChocolatey.ttf') format('truetype'), 
        url('../fonts/QuiteChocolatey.svg') format('svg');
        font-weight: normal;
        font-style: normal;
}