.hero {
    
    &__content {
        @include flex (space-between);
        padding-top: 10px;
    }

    &__title {
        width: 50%;
        padding-top: 90px;
        padding-left: 10px;
    }

    &__title h1 {
        font-size: 80px;
        font-family: 'Montserrat-Bold';
        color: $secondColor;
        white-space: nowrap;
    }

    &__title span {
        display: block;
        color: #fff;
    }
    &__title p {
        padding-top: 50px;
        padding-bottom: 150px;
        font-size: 20px;
        font-family: 'PT Serif';
        color: #fff;
    }
    &__form {
        position: relative;
        right: 0;
        bottom: -100px;
        
    }
}   
    
    
