.head {
    margin: 50px auto;
    &__titel {
        font-size: 50px;
        color: beige;
        text-align: center;
        font-family:'QuiteChocolatey';
        font-weight: 700;
        font-style: oblique;
    }
}
