.main__pricing {
    background: $bgColorPrice;
    padding-bottom: 50px;
    &_title {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 50px;
        font-family: 'Montserrat-Bold';
        font-weight: bold;
        color: $secondColor; 
        text-align: center;
    }
}
.pricing {
    @include flex (space-between, center);
    .price-box {
        background: white;
        text-align: center;
        width: 315px;
        border-radius: 5px;

        position: relative;
        &__triangle {
            position: absolute;
            z-index: 1000;
            width: 0;
            height: 0;
            border-top: 100px solid red;
            border-right: 100px solid transparent;
            &-text {
                position: absolute;
                z-index: 2000;
                font-size: 16px;
                margin-top: 25px;
                transform: rotate(-45deg);
            }
        }
        &__title {
            padding-top: 35px;
            &-text {
                font-size: 22px;
                font-weight: 400;
                font-family: 'PT Serif';
            }
        }
        &__fixed-price {
            padding-top: 40px;
            font-size: 60px;
            font-family: 'Montserrat-Bold';
            font-weight: bold;
            color: $firstColor;  
        }
        &__includes {
            padding-top: 30px;
            font-size: 20px;
            font-weight: 400;
            font-family: 'PT Serif'; 
        }
        &__button {
            padding-top: 35px;
        }
    }
}