.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.head {
    @include flex (space-between, center);
    padding: 45px 0;

    &__logo {
        font-size: 88px;
        font-family: QuiteChocolatey;
        color: #fff;
    }
    &__toggle-menu {
        $linewidth: 30px;
        $lineHeight: 3px;
        $lineVargin: 5px;
        $lineColor: white;
        display: none;
        &::before, &::after {
            content: "";
            display: block;
            width: $linewidth;
            height: $lineHeight;
            background: $lineColor;
        }
        span {
            display: block;
            width: $linewidth;
            height:  $lineHeight;
            margin: $lineVargin 0;
            background: $lineColor;
        }
    }
    &__menu-items {
        display: flex;
        align-items: center;
    }
    &__menu-items li {
        text-transform: uppercase;
        padding-left: 15px;
    }
    &__menu-items li:hover {
        background: $secondColor;
    }
    &__menu-items li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-family: MontserratRegular;
    }
    .active {
        padding: 10px 15px;
        background-color: $secondColor;
        border-radius: 5px;
        color: white;
    }
}
